body { 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  color: pink;
  background: linear-gradient(to right, #ef32d9, #89fffd);
}

.card{
  height: 400px;
  width: 500px;
  border: 4px solid #bb80f3;
  padding: 15px;
  box-shadow: 8px 8px blueviolet;
  border-radius: 5px;
}

.about{
  height: 400px;
  width: 500px;
  border: 4px solid #bb80f3;
  padding: 15px;
  box-shadow: 8px 8px blueviolet;
  border-radius: 5px;
  background: rgb(231, 145, 210);
}

img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.my_socials{
  padding: 4px 0px;
}

#first_name{
  color: rgba(228, 15, 192, 0.589);
}

#last_name{
  color: rgba(228, 15, 192, 0.589);
}

#about_me{
  color: rgba(228, 15, 192, 0.589);
}

#made_with{
  color: #8018e2;
}

.header_row li
{
  display: inline-block;
  margin-top: 2px;
  padding: 17px 0px;
}

.header_row li a
{
  color:aliceblue;
  text-decoration: none;
  padding: 10px 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:20px;
}

.header_row li.row a
{
	border-bottom: 1px solid aliceblue;
}

.header_row li a:hover
{
  border-bottom: 1px solid aliceblue;
  line-height: 0.5;
}

.rows {
	display: flex;
	padding-top: 3%;
}

.column {
	flex: 33.33%;
	padding: 5px;
}