body { 
  font-family: "Lato", sans-serif;	
  margin: 0px;	
  height: 90vh;	
  color: pink;	
  background: linear-gradient(to right, #ef32d9, #89fffd);	
}

.card{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 400px;
  width: 500px;
  border: 4px solid #bb80f3;
  padding: 15px;
  box-shadow: 8px 8px blueviolet;
  border-radius: 5px;
}

.about{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 400px;
  width: 500px;
  border: 4px solid #bb80f3;
  padding: 15px;
  box-shadow: 8px 8px blueviolet;
  border-radius: 5px;
  background: rgb(231, 145, 210);
}

img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.my_socials{
  padding: 4px 0px;
}

#first_name{
  color: rgba(228, 15, 192, 0.589);
}

#last_name{
  color: rgba(228, 15, 192, 0.589);
}

#about_me{
  color: rgba(228, 15, 192, 0.589);
}

#made_with{
  color: #8018e2;
}

.rows {	
	display: flex;	
	/* padding-top: 1%; */	
}	
.column {	
	flex: 33.33%;	
	padding: 5px;	
  text-align: center;	
  display: flex;	
  justify-content: center;	
  align-items: center; 	
}	
.container {	
  display: grid;	
  grid-template-columns: 1fr;	
}	
.nav-wrapper {	
  display: flex;	
  justify-content: space-between;	
  padding: 38px;	
}	
.left-side {	
  display: flex;	
}	
.nav-wrapper > .left-side > div {	
  margin-right: 20px;	
  text-transform: uppercase;	
  font-size: 0.9rem;	
}	
.nav-link-wrapper {	
  height: 22px;	
  border-bottom: 1px solid transparent;	
  transition: border-bottom 0.5s;	
}	
.active-nav-link {	
  border-bottom: 1px solid #8a8a8a;	
}	
.active-nav-link a {	
  color: #8a8a8a !important;	
}	
.nav-link-wrapper a {	
  color: aliceblue;	
  text-decoration: none;	
  transition: color 0.5s;	
}	
.nav-link-wrapper:hover {	
  border-bottom: 1px solid #8a8a8a;	
}	
.nav-link-wrapper a:hover {	
  color: #8a8a8a;	
}	
.brand{	
  color: aliceblue;	
}	
#github{	
  color: black;	
}